* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    background-color: #b3bfc7;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    color: rgb(90, 7, 90);
}

canvas {
    width: 480px;
    height: 640px;
    margin-bottom: 30px;
}

form {
    margin-top: 50px;
    width: 750px;
    display: grid;
    place-items: center;
}

input[type=file] {
    width: 150px;
    height: 50px;
    background: #002ca5;
    border: none;
    outline: none;
    cursor: pointer;
}

input[type=submit] {
    width: 150px;
    height: 50px;
    padding: auto;
    outline: none;
    cursor: pointer;
    background: #002ca5;
    border: 1px solid #002ca5;
    color: white;
    font-size: 17px;
    transition: 500ms ease-in-out
}

input[type=submit]:hover {
    background: transparent;
    color: #002ca5;
}